* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: PingFangSC, PingFangSC-Semibold;
  color: #333333;
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  width: 100vw;
}

html {
  font-size: 100px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.fullscreen {
  width: 100%;
  height: 100%;
}

.main-content {
  min-width: 7.5rem;
}

.h1 {
  font-size: 0.26rem;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 0.36rem;
}

.text {
  width: 86%;
  font-size: 0.16rem;
  font-weight: 600;
  letter-spacing: 0;
  color: #666666;
}

.card-text {
  font-size: 0.16rem;
  font-weight: 600;
  text-align: left;
  color: #666666;
  letter-spacing: 0;
}

.card-title {
  font-size: 0.24rem;
  font-weight: 600;
  text-align: left;
  line-height: 1;
  letter-spacing: 0;
}

.layout {
  margin: 0 auto;
  padding: 0 0.2rem;
}

.footer {
  width: 100%;
  background: url(./assets/footer.png) center/100% 100% no-repeat;
  padding-bottom: 14.9%;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.middle {
  align-items: center;
}

.center {
  justify-content: center;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

.cards-container > li {
  margin-bottom: 0.3rem;
}

.mt-70 {
  margin-top: 0.7rem;
}

.mt-36 {
  margin-top: 0.36rem;
}

.mt-16 {
  margin-top: 0.16rem;
}

.mb-16 {
  margin-bottom: 0.16rem;
}

.divider-mark {
  width: 1.6rem;
  height: 0.04rem;
  margin: 0.36rem 0;
  background-color: #7b88ff;
}

.article-bg {
  background-image: url(./assets/bg.png);
  background-size: 100% 100%;
  background-position: center;
}

.selected-card {
  box-shadow: 0 0.02rem 0.08rem 0 rgba(92, 107, 138, 0.5);
  border: 0.01rem solid transparent;
  cursor: pointer;
  background-color: #fff;
}

.selected-card:hover {
  border-color: #005afc;
}

/** home header **/
.header {
  display: flex;
  align-items: center;
  height: 0.6rem;
  padding: 0 0.2rem;
}

.logo {
  height: 0.24rem;
  width: 1.36rem;
  background-image: url(./assets/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 0.2rem;
}

.home-icon {
  display: none;
}

.nav-container {
  flex: 1;
  height: 100%;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  font-size: 0.16rem;
  font-weight: 600;
  user-select: none;
}

.nav-item {
  margin: 0 0.16rem;
  cursor: pointer;
}

.nav-item-arrow {
  height: 0.1rem;
  width: 0.14rem;
  margin-left: 0.12rem;
  transform: translateY(0.02rem);
}

.nav-item:hover,
.nav-item:hover > a {
  color: #005afc;
}

.sub-nav-wrapper {
  position: relative;
  z-index: 100;
}

.sub-nav-wrapper:hover .sub-nav {
  height: 2.3rem;
  padding: 0.16rem;
}

.sub-nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0.38rem;
  height: 0;
  padding: 0 0.16rem;
  border-radius: 0 0 0.1rem 0.1rem;
  transition: all 0.5s;
  background-color: #fff;
  overflow: hidden;
}

.sub-nav-item {
  height: 0.32rem;
  line-height: 0.32rem;
  width: max-content;
  white-space: nowrap;
}

.sub-nav-item:hover > a {
  color: #005afc;
}

.go-comunion-btn {
  height: 0.32rem;
  line-height: 0.32rem;
  border-radius: 0.16rem;
  background-color: #fff;
  border: 0.01rem solid #005afc;
  color: #005afc;
  padding: 0 0.1rem;
  cursor: pointer;
  font-size: 0.16rem;
}

.go-comunion-btn:hover {
  background-color: #005afc;
  color: #fff;
}

/** banner **/
.banner {
  width: 100%;
  max-height: 4rem;
  object-fit: cover;
}

.banner:after {
  content: '';
  display: inline-block;
  padding-bottom: 46.85%;
}

/** Comunion is a next, new start-up paradigm of digital economic growth **/
.digital-economic-growth {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.digital-economic-growth-crad {
  width: 23.5%;
  border-radius: 0.1rem;
  margin-bottom: 0.16rem;
}

.digital-economic-growth-crad:after {
  content: '';
  display: inline-block;
  padding-bottom: 142.3%;
}

/** The mission and vision of Comunion is to settle **/
.mission-vision-card {
  width: 48.5%;
  padding: 0.36rem 0.48rem;
  border-radius: 0.04rem;
}

.mission-vision-card-icon {
  width: 29.63%;
  object-fit: fill;
}

.mission-vision-card-icon:after {
  content: '';
  display: inline-block;
  padding-bottom: 68.75%;
}

.mission-vision-card-title {
  height: 0.48rem;
  text-align: center;
  margin: 0.2rem 0 0.1rem;
}

/** What can you do with Comunion **/
.with-comunion-card {
  width: 48.5%;
  padding: 0.3rem 0.24rem;
  border-radius: 0.08rem;
}

.with-comunion-card-icon {
  width: 0.53rem;
  height: 0.53rem;
  margin-right: 0.2rem;
}

/** How to use Comunion **/
.use-comunion-card {
  width: 32%;
  margin-bottom: 0.36rem;
}

.use-comunion-card-img {
  width: 50%;
  object-fit: fill;
}

.use-comunion-card-img:after {
  content: '';
  display: inline-block;
  padding-bottom: 62.5%;
}

.use-comunion-card-title {
  margin: 0.16rem 0;
}

.from-info {
  font-size: 0.2rem;
  font-family: PingFangSC, PingFangSC-Regular;
  font-weight: 400;
  color: #666666;
}

/** about info **/
.abouts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.7rem;
}

.abouts-title {
  font-size: 0.24rem;
  font-family: PingFangSC, PingFangSC-Medium;
  font-weight: 500;
  color: #333333;
  line-height: 1;
  margin-bottom: 0.3rem;
}

.abouts-links > li {
  font-size: 0.16rem;
  margin-bottom: 0.16rem;
}

.abouts-links > li > a {
  font-size: 0.16rem;
  font-family: PingFangSC, PingFangSC-Regular;
  font-weight: 400;
  line-height: 1;
  color: #666666;
}

.abouts-links > li > a:hover {
  color: #005afc;
}

@media (max-width: 1080px) {
  html {
    font-size: 80px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50px;
  }
}

@media screen and (max-width: 768px) {
  .main-content {
    min-width: unset;
    max-width: 100%;
  }

  .logo {
    height: 0.42rem;
    width: 0.43rem;
    background-image: url(./assets/logo_favicon.png);
    background-size: contain;
    margin-right: 0.36rem;
  }

  .home-icon {
    position: relative;
    display: inline-block;
    height: 0.33rem;
    width: 0.39rem;
    background-image: url(./assets/home-icon.png);
    background-size: contain;
    cursor: pointer;
    user-select: none;
  }

  .nav {
    display: none;
    position: absolute;
    z-index: 10;
    top: 1rem;
    left: 0;
    width: 0;
    height: 0;
    transition: all 0.5s;
  }

  .nav-expand {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    height: 7.8rem;
    width: 100%;
    padding: 0.32rem;
    background-color: #f9f9f9;
    font-size: 0.32rem;
    box-shadow: 0 0.02rem 0.08rem 0 rgba(92, 107, 138, 0.5);
  }

  .nav-expand .sub-nav-wrapper {
    position: unset;
    height: max-content;
  }

  .nav-expand .sub-nav {
    margin-top: 0.32rem;
    position: unset;
    height: max-content;
    border: unset;
    transition: unset;
    line-height: 1;
    background-color: #f9f9f9;
    padding: 0 0.32rem;
  }

  .nav-expand .sub-nav > li:not(:last-child) {
    margin-bottom: 0.32rem;
  }

  .nav-expand .sub-nav > li > a {
    line-height: unset;
  }

  .nav-expand .sub-nav-wrapper:hover .sub-nav {
    height: max-content;
    padding: 0 0.32rem;
  }

  .nav-expand > li:not(:last-child) {
    margin-bottom: 0.24rem;
  }

  .sub-nav-wrapper {
    align-items: stretch;
  }

  .nav-item-arrow {
    width: 0.28rem;
    height: 0.2rem;
    margin-left: 0.24rem;
  }

  .layout {
    width: 100%;
    padding: 0 0.5rem;
  }

  .h1 {
    font-size: 0.48rem;
  }

  .text {
    font-size: 0.3rem;
    width: 100%;
  }

  .card-title {
    font-size: 0.3rem;
  }

  .card-text {
    font-size: 0.24rem;
  }

  .divider-mark {
    margin: 0.36rem auto;
  }

  .header {
    height: 1rem;
  }

  .go-comunion-btn {
    height: 0.5rem;
    line-height: 0.5rem;
    border-radius: 0.25rem;
    padding: 0 0.24rem;
    font-size: 0.28rem;
  }

  .digital-economic-growth {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .digital-economic-growth > img {
    width: 48%;
    margin-bottom: 0.3rem;
  }

  .cards-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .cards-container > .mission-vision-card {
    width: 100%;
    height: max-content;
    margin-bottom: 0.3rem;
    padding: 0.36rem 0.6rem;
  }

  .cards-container > .mission-vision-card:last-child {
    margin-bottom: 0.16rem;
  }

  .cards-container > .mission-vision-card > .mission-vision-card-title {
    height: max-content;
    margin-bottom: 0.24rem;
  }

  .cards-container > .with-comunion-card {
    width: 100%;
    height: max-content;
    margin-bottom: 0.3rem;
    padding: 0.36rem 0.6rem;
  }

  .cards-container > .with-comunion-card:last-child {
    margin-bottom: 0.16rem;
  }

  .cards-container > .use-comunion-card {
    width: 100%;
    height: max-content;
    padding-bottom: 0.16rem;
  }

  .cards-container > .use-comunion-card:last-child {
    margin-bottom: 0.16rem;
  }

  .from-info {
    font-size: 0.32rem;
  }

  .abouts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 0.7rem;
  }

  .abouts-title {
    font-size: 0.3rem;
    margin-bottom: 0.32rem;
  }

  .abouts > article {
    width: 100%;
  }

  .abouts > article:not(:last-child) {
    margin-bottom: 0.36rem;
  }

  .abouts-title {
    font-size: 0.3rem;
  }

  .abouts-links > li {
    font-size: 0.24rem;
    margin-bottom: 0.24rem;
  }

  .abouts-links > li > a {
    font-size: 0.24rem;
  }
}
